body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  background-color: #f4f6f8;
  color: #333;
}

.sidebar {
  width: 220px;
  background-color: #0d6efd;
  color: white;
  padding: 1.5rem;
  min-height: 100vh;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-link {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    display: block;
    font-weight: 500;
}

.navbar-link:hover {
    background-color: #0056b3;
    border-radius: 0.25rem;
}

.dashboard {
  flex: 1;
  padding: 2rem;
}

header {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  margin: 2rem 0;
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-4px);
}

.card h3 {
  font-size: 1rem;
  color: #1e3a8a;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1.4rem;
  font-weight: bold;
  color: #0f172a;
}

.charts {
  width: 100%;
  display: block;
  padding: 1rem;
}

.charts canvas {
  display: none;
  width: 100% !important;
  max-width: 800px;
  height: 400px !important;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Mostrar solo el primero por defecto */
.charts canvas:first-child {
  display: block;
}



.chart-icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.chart-btn {
  background-color: #e0e7ff;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 1.2rem;
  color: #1e3a8a;
}

.chart-btn:hover {
  background-color: #c7d2fe;
}

.chart-btn.active {
  background-color: #1e3a8a;
  color: white;
}

.rankings {
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
